@charset "UTF-8";
/* Anidaci贸n (Nesting) - 驴C贸mo anidar en Scss? */
/* Ejemplo sin Anidaci贸n */
header {
  color: black;
}

header h1 {
  color: red;
}

header nav {
  display: flex;
}

/* Ejemplo con anidaci贸n */
header {
  color: black;
}
header h1 {
  color: red;
}
header nav {
  display: flex;
}

/*
    驴Qu茅 significa & en SCSS?
     A帽ade el selector "padre" cuando anidamos
*/
/* Ejemplo sin Selector & ni Anidaci贸n */
a {
  color: black;
}

a:hover {
  color: red;
}

a:active {
  color: aqua;
}

a:visited {
  color: pink;
}

/* Ejemplo con Selector & y Anidaci贸n */
a {
  color: black;
}
a:hover {
  color: red;
}
a:active {
  color: aqua;
}
a:visited {
  color: pink;
}

/* 
    驴Qu茅 nombre pongo en una clase CSS?
     En principio puedes poner cualquier nombre peeeero mejor si seguimos unas reglas o una metodolog铆a

    驴Qu茅 metodologia CSS usar?
     Existen muchas: BEM CSS, SUIT CSS, CUBE CSS

    驴Qu茅 significa BEM CSS?
     Es una metodolog铆a que define un bloque, elemento y modificador

    驴Qu茅 es BEM en Sass?
     Pues adaptamos los selectores de BEM gracias a la anidaci贸n y el selector &

    隆隆Dame un truco para usar BEM en SASS!!
     Descarga BEM Helper para VSCode

*/
/* Ejemplo de BEM sin Anidar */
.header {
  color: black;
}

.header__h1 {
  color: pink;
}

.header__nav {
  color: red;
}

/* Ejemplo de BEM con Anidaci贸n y Selector & */
.footer {
  color: black;
}
.footer__h1 {
  color: pink;
}
.footer__nav {
  color: red;
}